/*********************************************************
* page transitions
*/
@_d: 0.3s;
.forward-enter {
  transform: translateX(-30%);
  z-index: 10000;
  opacity: 0;
  overflow: hidden !important;
}

.forward-enter.forward-enter-active {
  transition: transform @_d ease,
    opacity @_d ease;
  transform: translateX(0);
  opacity: 1;
}

.forward-leave {
  opacity: 1;
  z-index: -1;
}

.forward-leave.forward-leave-active {
  transition: opacity 0.1s ease @_d;
  opacity: 0
}

// fadeout
.back-leave {
  transform: translateX(0%);
  z-index: 10000;
  opacity: 1;
  overflow: hidden !important;
}

.back-leave.back-leave-active {
  transition: transform @_d ease,
    opacity @_d ease;
  transform: translateX(-30%);
  opacity: 0;
}

.back-enter {
  opacity: 0;
  z-index: -1;
}

.back-enter.back-enter-active {
  transition: opacity 0.1s ease;
  opacity: 1
}


/*********************************************************
* Button stuff
*/

@keyframes blueFadeInOut {
  0%   { background-color: @blue; }
  50% { background-color: lighten(@blue, 15%) }
  100%   { background-color: @blue; }
}
