/*********************************************************
* right
*/
.moveOver-enter {
  position: absolute;
  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translateX(-100%);
  z-index: 10000;
}

.moveOver-enter.moveOver-enter-active {
  transform: translateX(0);
}

.moveOver-leave {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translateX(0);
  opacity: 1;
}

.moveOver-leave.moveOver-leave-active {
  transform: translateX(100%);
  opacity: 0.3;
}

/*********************************************************
* down
*/

.moveDown-enter {
    position: absolute;
    transition-duration: .4s;
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transform: translateY(-100%);
    z-index: 10000;
}

.moveDown-enter.moveDown-enter-active {
    transform: translateY(0);
}

.moveDown-leave {
    position: absolute;
    transition-duration: .4s;
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.moveDown-leave.moveDown-leave-active {
    transform: translateY(100%);
    opacity: 0.3;
}
