.blocks {
    text-align: center;
    font-size: 18px;
}
.pad {
    padding: 10px 20px 40px 20px;
}
.block-lead {
    font-size: 18px;
    //background: #439FE0;
    //color: white;
    img {
        margin-top: 40px;
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
    h3 {
        font-weight: normal;
        line-height: 1.3;
        margin: 0;
        margin-bottom: 10px;
        font-size: 28px;
    }
    p {
        margin: 0;
    }
}
.product-block {
    .pad {
        // padding-top: 0;
        // padding-bottom: 40px;
    }
    img {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
}

.order-form {
    padding: 40px;
}

.counter {
    display: flex;
    align-items: center;
    color: @blue;
    .count-display {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        background: white;
        //border-top: 1px solid @lightGrey;
        //border-bottom: 1px solid @lightGrey;
        height: 50px;
        font-size: 18px;
    }
    .count-increase,
    .count-decrease {
        padding: 0;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        font-size: 24px;
        background: white;
        color: inherit;
       // border: 1px solid @lightGrey;
        //border-bottom: 1px solid @lightGrey;
        box-shadow: none;
        &:focus {
            animation: none;
        }
        &.touchdown {
            background: lighten(@lightGrey, 5%);
        }
    }
    .count-decrease {
        border-right: 1px solid @lightGrey;
        border-radius: 4px 0 0 4px;
    }
    .count-increase {
        border-left: 1px solid @lightGrey;
        border-radius: 0 4px 4px 0;
    }
}
