* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

button {
    padding: 14px;
    display: block;
    width: 100%;
    color: white;
    background-color: #0183E7;
    border: none;
    font-size: 20px;
    border-radius: 3px;
}

button:active,
button:focus {
    outline: none;
    box-shadow: none;
}

.checkbox {
    position: relative;
    background: #CCC;
    padding: 2px;
    width: 100px;
    height: 50px;
}
.checkbox input {
    display: none;
}
.checkbox-toggle {
    position: absolute;
    background: #999;
    width: 50%;
    height: 100%;
    border-radius: 3px;
}

.checkbox.on .checkbox-toggle {
    background-color: #333;
}

.checkbox-toggle.click {
    top: 0;
    left: 0;
}
.checkbox.on .checkbox-toggle.click {
    left: 50px;
}

.on {
    background-color: #F9E977;
}

.switch {
    background: #CCC;
    padding: 2px;
    border-radius: 30px;
    display: inline-block;
    width: auto;
    transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
}
.track {
    width: 60px;
    border-radius: 30px;
}
.switch-toggle {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    transition: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
}
.switch.on {
    background-color: #0181E4;
}
.switch.on .switch-toggle {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
